/main/build
/main/distro
/main/tools
/main/targets/x86_64/iso/boot/kernel.bin
/videodrv
/learning
/main/distro/x86_64/main.iso
main/distro/x86_64/main.iso
targets/
/.vscode
/.build
/distro
*.bin
*.iso
*.o
*.notused
